.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}
.chart {
   width: 80%;
   padding: 20px 10% 0;
 }
.mat-elevation-z8 {
  width: 80%;
  padding: 20px 20% 0;
}
